html {
    background-color: tan;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(75, 75, 75, 0.7), rgba(75, 75, 75, 0.7)), url("./rps_white.png");
    /* fixed background */
    background-attachment: fixed;
    background-position: top center;
    background-size: 100vw;
}

body {
    color: white;
    font-family: menlo, monaco;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

body>div {
    border: 2px solid blue;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding: 0px 20px 10px 20px;
    min-width: 360px;
    width: 70%;
}

h2, h3, h4 {
    color: darkorange;
}

#greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#textPlay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*button section*/
button,input {
    background-color: blue;
    color: silver;
}

.button {
    width: 15%;
    height: 12%;
    background-color: transparent;
}

button:hover{
    background-color: limegreen;
    color: black;
}

.button:hover {
    opacity: 50%;
    background-color: yellow;
    border-radius: 12px;
    border: 5px solid red;
    padding: -5px;
    margin: -5px;
}

#buttonPlay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttonPlay>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 24px;
}

#buttonPlay>div>input {
    margin: 0 1rem 0 1rem;
}

/*game info section*/
#gameInfo {
    display: flex;
    align-items: center;
}

.infoLeft {
    display: flex;
    flex-direction: column;
    padding: 0px 1rem 1rem 1rem;
    align-items: center;
}

.infoRight {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 2rem 0px 2rem;
}

.infoRight>div {
    padding: 0px 1rem 0px 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoRight>div>p {
    margin-top: -1rem;
}

/*reset button*/
#resetButton {
    border: 0px;
    display: flex;
    justify-content: center;
    margin-top: -1.75rem;
    margin-right: -8rem;
}

#resetButton>input {
    background-color: blue;
    color: silver;
    padding: 0px 0.25rem 0px 0.25rem;
}

#resetButton>input:hover {
    background-color: limegreen;
    color: black;
    opacity: 100%;
}